{{!--  --}}
{{!--  --}}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">About Me Emanuel Hardwell</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto expedita consequatur eos odit, nisi voluptas
            cupiditate saepe est nobis porro ratione obcaecati perferendis quas ad quisquam repellendus velit possimus
            distinctio eius sint dolorum. Odit aspernatur, eligendi delectus quidem illo corporis.</p>
        <a class="btn btn-success btn-lg" href="https://www.instagram.com/emanuel.hardwell" target="_blank"
            role="button">Learn more of
            my</a>
    </div>
</div>